<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Departments: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'med_tours' %>
</head>
<body>
<div id="top_bar" class="top_bar">
  <h1 align="center"> Medical Tourism  </h1>
</div>
<div id="menu_bar" class="menu_bar">
  <%= link_to 'Home', :controller => :users, :action => "home", :id => current_user.id  %>&nbsp; | &nbsp;
  <%= link_to 'Hospitals', :controller => :hospitals, :action => "index"  %>&nbsp; | &nbsp;
  <a href="#">Countries</a>&nbsp; | &nbsp;
  <a href="#">About Us</a>&nbsp; | &nbsp;
  <a href="#">Help</a>
</div>
  <span align="right" style="position: right" ><%= render :partial => 'users/user_bar' %> </span>
<p style="color: green"><%= notice %></p>
<%= yield %>

</body>
</html>